---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Error - Onco Solutions" description="Error on Onco Solutions web Page">
    <div class="container">
        <div class="error-image">
        <img src="/images/electrician-repair-web-404.png" alt="404 web page error page with electrician working on a distribution form.">
   </div>
    </div>
   
   
</BaseLayout>

<style>
    body {
       background-color: var(--dark-blue); 
    }
    .container {
        max-width: 1200px;
        margin: 0 auto; 
    }
    .error-image img{
        background-color: var(--dark-blue);
        margin: 0 auto; 
        max-width: 1180px;
    }
</style>